body {
    background-image: linear-gradient(to right, yellow, black 75%);
    font-family: sans-serif;
}
#contentMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.item {
    padding: 20px 60px;
    font-size: 22px;
    background: white;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.item a {
    text-decoration: none;
}
.item:hover {
    transform: scale(1.05);
    background: black;
    color: white;
    text-decoration: underline;
}


#confettiCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* so it doesn’t block clicks */
    z-index: 9999;
}
#hiddenDiv {
    display: none;
}